:root {
    --primary-color: #ddf3f5;
    --secondary-color: #a6dcef;
    --tertiary-color: #1b6ca8;
    --salmon-accent-color: #f2aaaa;
    --red-accent-color: #e36387;
    --teal-accent-color: #086972;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
}

#subBtn {
    background-color: var(--red-accent-color);
    color: var(--primary-color);
}

.more,
.same,
.less {
}

.table td,
#countyTh,
#stateTh {
    text-align: right;
}

#lastUpdate {
    color: var(--primary-color);
}

.list-group-item:hover {
    cursor: pointer;
}
/*
#search  {
    font-size: 27px;
    font-family: 'Ubuntu', serif;
    color: #086972;
    font-weight: bold;
    margin-left: 4rem;
    text-shadow: 2px 2px 5px;
}
#about {
    font-size: 27px;
    font-family: 'Ubuntu', serif;
    color: #086972;
    font-weight: bold;
    margin-left: 7rem;
    text-shadow: 2px 2px 5px;
}

#stateCard {
    background-color: #a6dcef;
    border:none;
}

#historyCard {
    
    border:none;
    color: black;
}
label {
font-size: 22px;
font-family: 'Ubuntu', serif;
}
#aboutlink h2 {
    font-size: 27px;
    font-family: 'Ubuntu', serif;
    color: #086972;
    font-weight: bold;
    margin-left: 2rem;
}
#aboutlink p {
    font-size: 18px;
    margin-left: 1rem;
}
#copyright h2 {
    font-size: 27px;
    font-family: 'Ubuntu', serif;
    color: #086972;
    font-weight: bold;
    margin-left: 2rem;
       }

#copyright p {
    font-size: 18px;
    margin-left: 1rem;
}
footer h2 {
   text-align: center;
   width: 100%;
   font-size: 18px;
   background-color: #84a9ac;
 
   
}*/