:root {
    --primary-color: #ddf3f5;
    --secondary-color: #a6dcef;
    --tertiary-color: rgb(91, 192, 222);
    --salmon-accent-color: #f2aaaa;
    --red-accent-color: #e36387;
    --teal-accent-color: #086972;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
}

#subBtn {
    background-color: var(--red-accent-color);
    color: var(--primary-color);
}

.list-group-item:hover {
    cursor: pointer;
}

#tableResults h6 {
    color: var(--primary-color);
}

.table td,
.table th {
    text-align: right;
}

#about {
    font-size: 27px;
    font-family: 'Ubuntu', serif;
    color: #086972;
    font-weight: bold;
    margin-left: 7rem;
    text-shadow: 2px 2px 5px;
}
#aboutlink h2 {
    font-size: 27px;
    font-family: 'Ubuntu', serif;
    color: #086972;
    font-weight: bold;
    margin-left: 2rem;
}
#aboutlink p {
    font-size: 18px;
    margin-left: 1rem;
}
#copyright h2 {
    font-size: 27px;
    font-family: 'Ubuntu', serif;
    color: #086972;
    font-weight: bold;
    margin-left: 2rem;
       }

#copyright p {
    font-size: 18px;
    margin-left: 1rem;
}
footer h2 {
   text-align: center;
   width: 100%;
   font-size: 18px;
   background-color: #84a9ac;
}